
<p-menubar [model]="items">
    
    <ng-template pTemplate="start">
        <a routerLink="/" style="text-decoration: none;"> <h3 class="text-blue-500" >
            <img src="../../assets/logo.jpg" height="40" class="mr-2" routerLink="/">
        </h3></a>
    </ng-template>
    <div class="card">
        <div class="flex flex-row flex-wrap card-container blue-container">    
            <button type="button" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button>
        </div>
    </div>
</p-menubar>
