<form #myForm="ngForm" (ngSubmit)="saveData(myForm)" style="margin: 50px;">

    <p-calendar [(ngModel)]="packingList.docDate" name="docDate" dateFormat="dd-mm-yy" placeholder="Doc Date"></p-calendar><br>
    <input type="text" pInputText [(ngModel)]="packingList.plNo" name="plNo" placeholder="Pl No"/><br>
    <p-dropdown [options]="shipFrom" [(ngModel)]="packingList.shipFrom" name="shipFrom" optionLabel="name"></p-dropdown>
    <p-dropdown [options]="shipTo" [(ngModel)]="packingList.shipTo" name="shipTo" optionLabel="name"></p-dropdown>
    <p-chips [(ngModel)]="packingList.brandNames" separator="," placeholder="Brands" name="brandNames"></p-chips><br>
    <p-inputNumber [(ngModel)]="packingList.packQty" name="packQty" inputId="integeronly"></p-inputNumber>
    <p-inputNumber [(ngModel)]="packingList.qty" name="qty" inputId="integeronly"></p-inputNumber>
    <p-inputNumber [(ngModel)]="packingList.ctns" name="ctns" inputId="integeronly"></p-inputNumber>
    <p-inputNumber [(ngModel)]="packingList.plts" name="plts" inputId="integeronly"></p-inputNumber>
    <p-inputNumber [(ngModel)]="packingList.weight" name="weight" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="3"></p-inputNumber><br>
    <button pButton type="submit" label="Add Packinglist"></button><hr>

    <p-table [value]="packingLists" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-sm" 
    selectionMode="single" [(selection)]="selectedPL" (onRowSelect)="getSelectedValue()" (onRowUnselect)="clearSelected()"
    [paginator]="true" [rows]="5">
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th pSortableColumn="plNo">PL No <p-sortIcon field="plNo"></p-sortIcon></th>
                <th>Brands</th>
                <th pSortableColumn="shipFrom.name">Ship From <p-sortIcon field="shipFrom"></p-sortIcon></th>
                <th pSortableColumn="shipTo.name">Ship To <p-sortIcon field="shipTo"></p-sortIcon></th>
                <th pSortableColumn="docDate">Document Date <p-sortIcon field="docDate"></p-sortIcon></th>
                <th>Pack Qty</th>
                <th>Qty</th>
                <th>Cartons</th>
                <th>Pallets</th>
                <th>Weight</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-packing let-rowIndex="rowIndex">
            <tr [pSelectableRow]="packing">
                <td>{{ rowIndex+1 }}</td>
                <td>{{packing.plNo}}</td>
                <td>{{packing.brandNames?.toString()}}</td>
                <td>{{packing.shipFrom?.name}}</td>
                <td>{{packing.shipTo?.name}}</td>
                <td>{{packing.docDate | date: "dd-MM-yyyy"}}</td>
                <td>{{packing.packQty}}</td>
                <td>{{packing.qty}}</td>
                <td>{{packing.ctns}}</td>
                <td>{{packing.plts}}</td>
                <td>{{packing.weight}}</td>
            </tr>
        </ng-template>
    </p-table>
</form>