<form #myform="ngForm" (ngSubmit)="onSubmit()">
  <div class="field col-12 md:col-4">
    <p-calendar
      [showIcon]="true"
      inputId="icon"
      [(ngModel)]="date1"
      name="docDate"
      (ngModelChange)="dateToString()"
    ></p-calendar>
  </div>
  <input type="text" pInputText [(ngModel)]="packing.plNo" name="plNo" />
  <br />
  <p-dropdown
    [options]="shipFrom"
    [(ngModel)]="packing.shipFrom"
    optionLabel="name"
    name="shipFrom"
  ></p-dropdown>
  <br />
  <p-dropdown
    [options]="shipTo"
    [(ngModel)]="packing.shipTo"
    optionLabel="name"
    name="shipTo"
  ></p-dropdown>
  <br />
  <p-chips [(ngModel)]="packing.brands" separator="," name="brands"></p-chips>
  <br />
  <p-inputNumber
    [(ngModel)]="packing.pQty"
    [showButtons]="true"
    [min]="1"
    name="pQty"
    value="1"
  ></p-inputNumber>
  <p-inputNumber
    [(ngModel)]="packing.qty"
    [showButtons]="true"
    [min]="1"
    name="qty"
    value="1"
  ></p-inputNumber>
  <p-inputNumber
    [(ngModel)]="packing.ctns"
    [showButtons]="true"
    [min]="1"
    name="ctns"
    value="1"
  ></p-inputNumber>
  <p-inputNumber
    [(ngModel)]="packing.plts"
    [showButtons]="true"
    [min]="1"
    name="plts"
    value="1"
  ></p-inputNumber>
  <p-inputNumber
    [(ngModel)]="packing.weight"
    inputId="mile"
    suffix=" Kgs"
    name="weight"
  ></p-inputNumber>
  <br />
  <!-- <input type="date" [(ngModel)]="packing.docDate" name="testDate"> -->
  <br>
  <input type="submit" value="Send" />
  <hr />
  {{ myform.value | json }}
  <hr />
  {{ packing | json }}
  <br />
  {{ packing.docDate }}
</form>
